[user]
	email = noomorph@gmail.com
	name = Yaroslav Serhieiev
    # signingkey = 
[pull]
	rebase = true
[push]
	default = simple
[ui]
	color = true
[color]
	ui = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[core]
    # editor = /usr/local/bin/vim
